/* Reset css */
.summary__title {
  font-size: 34px !important;
}

.summary__desc {
  font-size: 22px;
}

/* Feature */
.section--feature ul {
  grid-template-columns: repeat(1, 1fr);
}

.section--feature .tiles-list li {
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
}

/* Where is */
#map {
  width: auto;
  margin: 40px -20px 0 -20px;
  border-left: none;
  border-right: none;
}

/* Pricing card */
.section--pricing .card {
  display: block;
}

.section--pricing .card .cell2 {
  border-left: none;
  border-top: 1px solid #e5e5e5;
}

/* Footer */
footer .inner {
  display: block;
}

footer .site-links {
  justify-content: center;
}

footer .site-links:first-child {
  margin-bottom: 20px;
}

footer .site-links li {
  display: inline;
}
